{% extends 'mytemplate.jinja2' %}
{% block content %}

		    <p><a href="/chord/A">A</a></p>
		    <p><a href="/chord/B">B</a></p>
		    <p><a href="/chord/H">H</a></p>
		    <p><a href="/chord/C">C</a></p>
		    <p><a href="/chord/D">D</a></p>
		    <p><a href="/chord/E">E</a></p>
		    <p><a href="/chord/F">F</a></p>
		    <p><a href="/chord/G">G</a></p>

{% endblock %}