{% extends 'mytemplate.jinja2' %}
{% block content %}

<form method="post">
<center>
    <br><b>Название песни:</b>
        <input type="text" size="40" name="title" value= "{{ song_title }}">
    <b>Тональность:</b>
        <select name="base_chord">
            {% for tone in tones %}
                <option value="{{ tone }}" {% if tone == base_chord %} selected {% endif %}>{{ tone }}</option>
            {% endfor %}
        </select>
    <b><input type="submit" value="Готово"></b>

        <br><textarea name="song_text" rows="20" cols="120">{{ song_text }}</textarea></br>
           <Br><input type="submit" value="Сохранить" name="save">
           <input style='float:right' type="submit" value="Удалить эту песню" name="delete_song"
                      onclick="return confirm('Правда-правда?')">
</center>
  </p>

 </form>



{% endblock %}
