{% extends 'mytemplate.jinja2' %}
{% block content %}

<form method="post" >
   <center>
       <h1>Регистрация</h1>
       <p><b>Введите логин:</b><br>
        <input type="text" size="40" name="email">
    <p><b>Введите пароль:</b><br>
        <input type="text" size="40" name="password">
    <Br><input type="submit">
   </center>
  </p>


 </form>
    <h1>Регистрация {{ status }}</h1>

{% endblock %}