{% extends 'mytemplate.jinja2' %}
{% block content %}

<form method="post" >
   <center>
       <h1>Регистрация</h1>
       <p><b>Введите имя:</b><br>
        <input type="text" size="40" name="name">
       <p><b>Введите email:</b><br>
        <input type="text" size="40" name="email">
    <p><b>Введите пароль:</b><br>
        <input type="text" size="40" name="password">
    <Br><input type="submit">
   </center>

 </form>
    {% if failed_attempt %}
        <center><h3>Такой пользователь уже существует!</h3></center>
    {% endif %}

{% endblock %}