{% extends 'mytemplate.jinja2' %}
{% block content %}

<ul>
{% for song in songs %}
  <li><a href="/edit/{{ song.id }}">{{ song.title }}</a></li>
{% endfor %}
</ul>


    <a href="/add">Добавить песню</a>

{% endblock %}